.hidden {
	display: none;
}
#loader {
	text-align: center;
}
.access-hidden {
	position: absolute;
	left: -99999px;
}
.explanatory {
	font-size: 1.2em;
	margin-bottom: 0 !important;
}
#new-books-section {
	position: relative;
	width: 100%;
	margin-bottom: 36px;
	border-bottom: none;
}
.new-book-link {
	margin-left: -10px;
}
#new-books-section div {
	width: 100%;
	float: none;
}
#callno-form {
	margin-bottom: 20px;
}
.list-form label {
	font-size: 1.3em;
}
#callno-browse,
#kw-search {
	font-size: 1.1em;
	max-width: 100%;
}
#callno-browse {
	display: block;
}
#callno-form input[type="submit"] {
	position:absolute;
	left: -999999px;
}
#kw-search,
#extend-query {
	padding: .4em .2em;
	margin-bottom: 10px;
}
#kw-search-form label {
	display: block;
}
#newwins,
#full-list {
	float: right;
	clear: both;
}
#pager {
	float: none;
	text-align: center;
	margin: 1em auto 0;
	clear: both;
}
#pager ul {
	margin: 8px auto;
	padding: 0;
}
#pager li {
	display: inline;
	margin: 0 8px;
}
#pager .short {
	position: absolute;
	left: -999999px;
}
#pager .btn {
	cursor: pointer;
	font-weight: bold;
	background: #FFCE00;
	color: #8A0028;
	border: none;
	border-radius: 4px;
	width: 50px;
	padding: 4px;
}
#pager .btn:hover {
	background: #FDE373;
	color: #4D4D4D;
}
#pager span {
	margin-left: .5em;
}
#pager span:first-of-type {
	margin-left: 0;
}
#pager a:link,
#pager a:visited {
	background: #ddd;
	border: 1px solid #eee;
	padding: 2px 6px;
	text-decoration: none;
}
#pager a:hover,
#pager a:focus,
#pager .active {
	background: #ccc;
	color: #fff;
	text-decoration: none;
}
.btn:nth-of-type(1),
.btn:nth-of-type(4) {
	display: none !important;
}
.btn:nth-of-type(3) {
	position: absolute;
	bottom: -28px;
	right: 20%;
	display: block !important;
}
.btn:nth-of-type(2) {
	position: absolute;
	bottom: -28px;
	left: 20%;
	display: block !important;
}
.subj-list li {
	display: inline;
	margin-right: 1em !important;
}
.subj-list li a {
	font-weight: normal;
	font-size: 90%;
}
.loc-callno,
.item-callno {
	display: block;
	margin: .4em 0 0 0 !important;
}
.new-book {
	margin-bottom: 10px;
	padding-top: 10px !important;
	clear: both;
	font-size: 110%;
	list-style-type: none !important;
}
.author {
	display: block;
	margin-top: .4em !important;
	padding-bottom: .1em !important;
}
.jacket {
	float: left;
	max-height: 140px;
	max-width:160px;
	padding: 8px 12px 8px 0 !important;
}
.dvd-icon {
	margin: 4px 0 0 8px !important;
}
#no-results {
	font-size: 1.2em;
	margin-top: 60px;
	text-align: center;
}
#show-all {
	padding: 10px;
	float: left;
}
#send-list {
	float: right;
	background: transparent;
	color: #8A0028;
	font-weight: bold;
	border: none;
}
#send-list:hover,
#send-list:focus {
	color: #4D4D4D;
	text-decoration: underline;
}
#img-attribution {
	font-style: italic;
	position: absolute;
	bottom: 10px;
}
#img-attribution img {
	position: relative;
	top: 4px;
	left: 4px;
}
.extend {
	font-size: 1.1em;
}
#extend-form div {
	float: none;
}
.textwidget ul {
	padding-left: 0 !important;
}