#s-lg-public-skiplink {left: -3000px;}
.nav-tabs li a {border:none; padding:5px 16px;}
.dropdown-active a.active {color:#fff !important;}
.dropdown-menu {width: auto; min-width:14em; max-width:20em;}
.dropdown-menu li a {line-height:initial !important;  white-space: normal;}
#s-lib-bc {display:none;}
#s-scc-tabs-container {background:#8A0028; padding-top:0 !important;border-radius: 0 0 4px 4px;}
#s-scc-tabs-container li a {line-height:36px;}

#s-scc-guide-tabs li.active a {background: #8A0028; color:#fff; border:none;}
.nav li a:focus, .nav li a:hover {outline:none !important;}
#s-lg-tabs-container {background:#fde373 !important;}
#s-lg-guide-tabs {padding:10px; background:#fde373;border-radius:40px; margin-top:-2em;}
#s-lg-guide-tabs .nav-pills a {background:rgba(255,255,255,.8) !important;}
#s-lg-guide-tabs a {color:#8A0028 !important; font-weight:normal !important;}
#s-lg-guide-tabs ul {background:#fff !important;}
#s-lg-guide-tabs li {border-bottom:1px solid #e7e7e7; margin-top:0; font-size:1.2em; line-height: normal;}
#s-lg-guide-tabs a.active {background:#FFF9E6 !important; border:none !important;}
#s-lg-guide-name {width:75%; float:right; font-size:2em !important; padding-left:1em; margin-top:1em !important;}
#s-lg-guide-description {width:75%; float:right; padding-left:1em; }
#s-lg-guide-tabs a:hover, #s-lg-guide-tabs a:focus, #s-lg-guide-tabs a:active {background:#FFF9E6 !important; }
#s-lg-guide-header-search {display:none;}
.s-lib-box-container, .s-lib-box-title, .s-lib-box-content {border:none !important; background:#fff !important; border:none !important;}
.s-lib-box {border:1px solid #ccc; border-radius:4px; padding:1em;}
.s-lg-subtab-ul a {text-transform: none !important; font-size: 16px !important;}
#lib-menu-nav-header {font-size:20px; color: #ffce00 !important; text-transform: uppercase; background: #8a0028; cursor:pointer; padding-left:1em;}
.hamburger-icon {border-bottom: 2px solid #ffce00;border-top: 6px double #ffce00;display: inline-block;height: 10px;margin-right: 8px;position: relative;width: 16px;}
#page-guide-nav-header {cursor:pointer; font-size:1.2em; margin-left:1em;}
.ui-tabs-nav {background:#fff; border:none; border-bottom:1px solid #ccc;}
.ui-tabs-nav li {background:#efefef !important; border-top:1px solid #aaa !important; border-left:1px solid #aaa !important; border-right:1px solid #aaa !important; margin-right:.2em !important; border-radius:4px 4px 0 0;}
.ui-tabs-nav li {margin:0;}
.ui-tabs-nav li a:hover {background:#FFCE00 !important; margin-right:0;}
.ui-tabs-nav .ui-state-active a, .ui-tabs-nav .ui-state-active a:hover {background:#Fde373 !important; margin:0 !important;}
#links-pref {display:inline-block; margin: 1em 0 2em; float:none !important;}
.highlight {background:#FFFF00;}
#chat-div {margin: -50px 0 40px 1em;}
#chat-div p {margin: 0 0 5px;}
.profile-box .s-lib-box {border:none;}
.s-lg-link-list {clear:both;}
.s-lg-link-list-5 li {float:left; max-width:260px; min-height:80px; padding-right:1em;}
#s-lg-book-prop-callno, #s-lg-book-prop-pubdate, .s-lg-book-prop-callno, .s-lg-book-prop-pubdate {clear:none;}
