body {font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif; padding:0; font-size:16px; line-height:1.5;}
/* nav */
#s-lg-tabs-container {border:0; margin-top:0; padding-top:0;}
#s-lg-guide-tabs {background:#8a0028; border-radius: 0 0 4px 4px;
-webkit-border-radius: 0 0 4px 4px;
-moz-border-radius: 0 0 4px 4px;
line-height:30px;}

.nav-tabs li a {text-transform:uppercase; font-weight:normal !important; font-size:20px; padding:5px 12px; line-height:30px;}
.nav-tabs li a.active {color:#fff;  border-radius: 0 0 4px 4px !important;
-webkit-border-radius: 0 0 4px 4px !important;
-moz-border-radius: 0 0 4px 4px !important;}
.nav-tabs li a:link, .nav-tabs li a:visited {color:#FFCE00;}
.nav-tabs li a:focus, .nav-tabs li a:hover {background-color:#4d4d4d !important; color:#fff; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0;}
/* dropdowns */
ul.s-lg-subtab-ul {background:#fde373; padding:0; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;}
ul.s-lg-subtab-ul li a:link, ul.s-lg-subtab-ul li a:visited {color:#8a0028;}
ul.s-lg-subtab-ul li a:hover, ul.s-lg-subtab-ul li a:focus {background:#E3E3E3 !important; color:#4d4d4d;}
.dropdown-menu {border:1px solid #bbb;}

/* header */
#bannerimage {width:100%; max-width:1440px; margin:0 auto; border-bottom: 4px solid #ffce00;}
#scc-logo {margin:0; border-radius: 0 0 0 4px;
-webkit-border-radius: 0 0 0 4px;
-moz-border-radius: 0 0 0 4px;
-moz-box-sizing: border-box;} 
#mobile-logo {display:none;} 
#bannerimage-banner { max-width:100%; height:auto;} 
#header-outreachlinksbackground {float:right;}  
#headerlinks {position:absolute; z-index:99; top:0; margin: 0 10%;  width:78%; max-width:1100px; font-size:1.5rem;} 
.headerlinks li a {text-decoration:none; padding-right:4px;}
.headerlinks li a:link, .headerlinks li a:visited {color:#4d4d4d;}
.headerlinks li a:hover, .headerlinks li a:active {color:#999;}
.notlast a {border-right: 1px solid #4d4d4d;}
#header-logo {width:25%; }#scc-logo {background:#8A0028;padding:20px;}  
#header-outreachlinksbackground {background:#FDE373; padding:3px 3px 2px 10px; width:75%;} 
#outreach-links {width:47%;}
#rguides-title {float:right;}
#rguides-title a {font-size:5rem; color:#4d4d4d; text-transform:uppercase;   width:auto; background:rgba(255,255,255,0.8); padding:4px; border-radius:0 0 4px 4px;}

/* allow box title to be hidden if needed */
.hidden-title {display:none;}

.empty {height:0px;}

.row {margin-left:0;}

/* hide crap on landing page */
#s-lg-index-list-header {display:none;}
/*  #s-lg-guide-main img {max-width:100%; height:auto; width:auto;}.s-lg-book-cover img {width:initial !important;} */  #s-lib-panel-container-collapse43857, #s-lib-panel-container-collapse56290, #s-lib-panel-container-collapse75509, #s-lib-panel-container-collapse31315 {display:none;}
#collapse105703 .alert, #collapse56290 .alert,  #collapse75509 .alert,  #collapse88297 .alert,  #collapse96051 .alert, #collapse118445 .alert, #collapse133605 .alert {display:none;}
.s-lg-guide-list .btn-link {display:none !important;}
 /*  subject links on home page categories list */
 .panel-body .alert-info {background:#EFEFEF; color: #8A0028; border:1px solid #d3d3d3;}
 /* hide sorting on home page */
 #form-group-s-lg-guide-order {display:none !important;}

img.s-lg-icon {border:none;}
#s-lib-bc .breadcrumb {font-size:14px;}
#s-lg-guide-tabs-title-bar {border:none;}
#s-lg-guide-description {font-size:24px; font-size:2.6rem; }
#s-lg-guide-main a:link, .breadcrumb a, #s-lib-public-main a:link {font-weight:bold; color:#8a0028 !important;}
.s-lib-box-content a:link {text-decoration:underline;}
.s-lib-box-content a:visited, .s-lg-guide-list a:visited, .s-lg-system-list a:visited {color:#640170;}
#s-lg-guide-main a:focus, #s-lg-guide-main a:hover, .breadcrumb a:focus, .breadcrumb a:hover, #s-lib-public-main a:focus, #s-lib-public-main a:hover {color:#4d4d4d; font-weight:bold;}
h1, h2, h3, h4, .s-lib-box-title {text-transform:uppercase; font-weight:normal !important; color: #8a0028;}
#s-lg-guide-name {font-size:40px;}
/* names */
.s-lg-guide-info-account a {font-weight:normal !important;}
td {vertical-align: top;}
/* hide box title in full row spans 
.col-md-12 .s-lib-box-title {display:none;}    */
/* fix left-hand padding */
.col-md-3, .col-md-9, .col-md-12 {padding-left:0;}
.s-lg-col-boxes h2 {color:#4d4d4d;}
.s-lib-box-title, h2 { font-size:30px !important; padding-left:0 !important; }
.s-lib-box {color:#4d4d4d; border:none; box-shadow:none;}
.s-lib-box-content {padding-left:0;}
.s-lib-box-content h3 {margin-top:10px;}
.s-lib-box-content img {border:1px solid #ccc; padding:2px; margin:2px; border-radius:2px;}
/* link boxes */
.s-lg-link-list {line-height:1.4;}
.s-lg-link-list, .s-lg-system-list {margin-bottom:0;}
.s-lib-box-content {padding-bottom:0;}
.s-lg-guide-info-account {display:none;}
/* left-hand widgets */
/* #s-lg-col-1 .s-lg-col-boxes .s-lib-box-container {background:#FFF9E6; border-bottom:2px solid #FFCE00; border-top:2px solid #FFCE00; margin-bottom: 10px;
}
#s-lg-col-1 .s-lg-col-boxes .s-lib-box-content, #s-lg-col-1 .s-lg-col-boxes .s-lib-box-title {background:#FFF9E6; }
#s-lg-col-1 .s-lg-col-boxes .s-lib-box-title {  border-bottom:2px solid #FFCE00; font-size:24px;} */
#s-lg-col-1 .s-lib-box-container, #col1 .s-lib-box-container {background:#FFF9E6; border-bottom:2px solid #FFCE00; border-top:2px solid #FFCE00; margin-bottom: 10px;
}
#s-lg-col-1 .s-lib-box-content, #s-lg-col-1 .s-lib-box-title, #col1 .s-lib-box-content, #col1 .s-lib-box-title {background:#FFF9E6; }
#s-lg-col-1 .s-lib-box-title, #col1 .s-lib-box-title { border-bottom:2px solid #FFCE00; font-size:24px;} 
#s-lg-col-1 .s-lib-box-title, #s-lg-col-1 .s-lib-box-content, #col1 .s-lib-box-title, #col1 .s-lib-box-content {padding-left:8px !important;}
#hours-widget ul {list-style-type:none; padding-left:2px;}
#hours-widget strong a {font-weight:normal;}
/* next and previous buttons */
.pager li a, .pager li span {background: #FFCE00; color: #8A0028; border:none; border-radius:4px;}
.pager li a:hover, .pager li a:focus {background: #FDE373;color:#4D4D4D;}
/* profile box */
.s-lib-profile-email {display: none;}
/* books from catalog */
/* hide ISBNs */
.s-lg-book-prop-isbn {display:none;}
.s-lg-book-cover a img {margin-right:8px;}
.s-lg-book {font-size:14px;}
.s-lg-book a {font-weight:normal !important;}
.s-lg-book-title {font-weight:bold;}
.s-lg-book-author {font-weight:normal;}
/* Springshare error: id instead of class */
#s-lg-book-prop-callno, #s-lg-book-prop-pubdate, .s-lg-book-prop-callno, .s-lg-book-prop-pubdate {clear:both;}
/* ebook list */
.resdesc img {float:left !important;}
.rss_view_website, .rss_view_feed {display:none;}
.s-lg-rss-list-item {clear:both;}
/* widgets */
.s-lg-widget ul {padding-left:20px;}
/* libraryh3lp widget */
.libraryh3lp a img {border:0;}
/* fix for sidenav tabs 
ul.nav-tabs li.active ul, ul.s-lg-subtab-ul li.active {display:none;}  */
/* home page */
.nav-pills li.active a, .nav-pills li.active a:hover {background:#fff;}
#form-group-s-lg-guide-order {display:none !important;}
.s-lib-box-std .s-lib-box-title {background-image:none;}
#s-lib-public-main #col1 {padding-left:0;}
#s-lib-public-main #col1 .pad-top-sm {background:#FFF9E6; border-bottom:2px solid #FFCE00;  margin-bottom: 10px; padding:8px 4px;}
#s-lib-public-main #col1 .pad-top-sm, #s-lib-public-main #col1 .s-lib-public-side-header {background:#FFF9E6; font-weight:normal; }
#s-lib-public-main #col1 .s-lib-public-side-header {border-top:2px solid #FFCE00;  border-bottom:2px solid #FFCE00; font-size:24px; text-transform:uppercase; color:#8a0028; padding-top:8px;}
#s-lib-public-main #col1 .s-lib-public-side-header, #s-lib-public-main #col1 .pad-top-sm {padding-left:8px !important;}
#s-lib-public-main #col1 .pad-bottom-sm {padding:5px 5px 7px 5px;}

#s-lg-guide-list-controls h4 {display:none;} 
.s-lg-guide-info-views {display:none;}
/*  subject links on categories list */
.panel-body .alert-info {background:#EFEFEF; color: #8A0028; border:1px solid #d3d3d3;}
/* Subject view */
#s-lib-panel-container-collapse24864, #s-lib-panel-container-collapse24865 {display:none;}
#collapse31315 .alert,  #s-lib-panel-container-collapse24865 .alert, #s-lib-panel-container-collapse24863 .alert, #s-lib-panel-container-collapse24862 .alert, #s-lib-panel-container-collapse43857 .alert {display:none;}
.panel-heading .badge {display:none;}

/* tabs on category pages */
#col1 ul.nav-tabs li {background:#efefef; border-top:1px solid #aaa; border-left:1px solid #aaa; border-right:1px solid #aaa; margin-right:.2em !important; border-radius:4px 4px 0 0;}
#col1 ul.nav-tabs li {margin:0;}
#col1 ul.nav-tabs li a:hover {background:#FFCE00 !important; margin-right:0;}
#col1 ul.nav-tabs li.active a, #col1 ul.nav-tabs li.active a:hover {background:#Fde373 !important; margin:0 !important;}

.panel-body .alert strong {font-weight:normal;}
#s-lib-bc-list {margin-top:0 !important; }
#s-lib-bc-list  li {padding:4px;}
#s-lib-bc-list li:first-child {background:#FDE373;}
#s-lib-bc-list li a:hover {text-decoration:none;}
/* #s-lg-col-1 .s-lib-box-container:first-child {border:none;}
#s-lg-col-1 h2.s-lib-box-title:first-child {border:none !important;} */

/* #s-lib-public-main #col1 .s-lib-box-title {border:none;}
#s-lib-public-main #col1 .s-lib-box-content {background-color: #efefef;border-bottom: 2px solid #ffce00; border-top: 1px solid #d3d3d3; border-left: 1px solid #d3d3d3; border-right: 1px solid #d3d3d3; border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; padding-left:8px;} */
/* A-to-Z */
.s-lg-az-result, .s-lg-az-trial {border-bottom:none;}
.s-lg-az-result-share {display:none;}
#s-lib-scroll-top {display:none !important;}
#s-lg-az-experts-div {display:none !important;}
.s-lg-gtitle .s-lib-popover {display:none;}
/* admin pages */
#s-lg-admin-addbox-4, #s-lg-admin-addbox-5 {border:1px #ccc dashed;}
.s-lib-box-std a .s-lg-edit-link a {color: #2954D1;}
#form-group-enable_proxy {display:none;}

 .s-lib-profile-div {margin-bottom:0;}
 #hours-widget abbr[title] {border-bottom:none; cursor: default;}
 
 #links-pref {margin-top:-36px;}
 #links-pref label {font-weight:normal; padding-left:6px;}
 /* ebook list */.resdesc img {float:left !important;}
 .s-lg-rss-list-item {clear:both;}
 /* hide ISBNs on books */
 .s-lg-book-prop-isbn {display:none;}
 /* tabs on category pages */
 #col1 ul.nav-tabs li {background:#efefef; border-top:1px solid #aaa; border-left:1px solid #aaa; border-right:1px solid #aaa; margin-right:.2em !important; border-radius:4px 4px 0 0;}
 #col1 ul.nav-tabs li {margin:0;}
 #col1 ul.nav-tabs li a:hover {background:#FFCE00 !important; margin-right:0;}
 #col1 ul.nav-tabs li.active a, #col1 ul.nav-tabs li.active a:hover {background:#Fde373 !important; margin:0 !important;}
 .panel-body .alert strong {font-weight:normal;}
 #s-lib-bc-list {margin-top:0 !important; }
 #s-lib-bc-list  li {padding:4px;}
 #s-lib-bc-list li:first-child {background:#FDE373;}
 #s-lib-bc-list li a:hover {text-decoration:none;}/* #s-lg-col-1 .s-lib-box-container:first-child {border:none;}#s-lg-col-1 h2.s-lib-box-title:first-child {border:none !important;} *//*  make images responsive  */
 #s-lg-guide-main {height:auto; max-width:100%;}/* end add *//* for admin pages#form-group-enable_proxy {display:none;} */
 /* hide box types */
 #form-group-box_type option:nth-child(2), #form-group-box_type option:nth-child(3) {display:none !important;}
 /* hide styles and font button in editor */
 #cke_10, #cke_12 {display:none !important;} u {text-decoration:none;}
 /* hide external link icon */ .s-lg-rss-list i {display:none;} 
.no-border {border:none;}
.cite-hanging {padding-left:4em; text-indent:-4em;}

@media screen and (max-width: 1000px) {
#headerlinks {width:100%; margin:0;}
#rguides-title a {font-size:3rem;}
#links-pref {margin-top:0; float:none !important; text-align:right;}
}
@media screen and (max-width: 780px) {
#headerlinks {font-size:1.3rem;}

}
.s-lib-profile-div img {max-height:200px;}

@media screen and (max-width: 700px) {

#scc-logo {display:none;}
#mobile-logo {display:block; background:#8a0028; width:100%; ;}
#bannerimage-banner {width:100%;}
#header-outreachlinksbackground {display:none;}
#rguides-title {float:none;}
#rguides-title a {font-size:2rem; display:block; margin:60px 0 0 0; width:100%; border-radius:0;}
	}
	@media print {
 #header, #s-lg-tabs-container, iframe, #s-lib-bc, .s-lib-profile-container, .s-lg-rss, #s-lg-page-prevnext, #s-lib-footer-public, .noprint {display:none;}
}
