body {font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif; padding:0; font-size: 16px; }

a[role="button"] {cursor:pointer;}
.hide-access {position:absolute; left: -999999px;}
.navbar-brand {padding:0;}
.navbar-brand img {max-height:64px;}
#navbarNav {text-align:right; margin:0 auto;}
.nav-link {text-transform: uppercase;}
.nav-link:hover, .nav-link:focus {text-decoration:none;}
.navbar-expand-lg .navbar-nav .nav-link {
display:inline-block;
font-size: 1.5rem;
    padding-right: .5rem;
    padding-left: .5rem;
white-space:normal;
vertical-align:top;
}

#header-container {
	width: 100%;
	padding: 10px 0;
    margin-bottom:0;
	color: #fff;
	max-width: none;
}

#header {
margin:0 auto;
border-bottom:none;
padding-bottom:0;
}
#header h1 {margin:8px 0; color:#fff;}
#header .site-name {
	font-weight: 400;
font-size:2em;
margin: 0;
}
#header .site-name a {
color:#fff;
text-decoration:none;
display:inline-block;
}
#header .site-name a span {
display:inline-block;
padding:4px 8px;
border-radius:4px;
}
#header .site-name a span:hover, #header .site-name a span:hover {
background:rgba(0,0,0,0.2);

}
.breadcrumb > li + li::before {
content: "\203A";
}
#main, main.container {
	max-width: 600px;
	margin-bottom: 40px;
}
#header-container,.tt-suggestion.tt-cursor,.tt-suggestion:hover,.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-outline-primary:hover,.btn-outline-primary:focus,.btn-outline-primary:active {background: #8a0028;}
.nav-link {color: #8a0028 !important;}
.btn-outline-primary {color: #8a0028;}
.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-outline-primary,.btn-outline-primary:hover,.btn-outline-primary:focus,.btn-outline-primary:active {border-color: #8a0028;}

#guide-title {background:#ffce00; font-size:2.5em;

}
#page-title {font-size:2.5em;}
/* for youtube embeds, included as customization file */
	#collapse124345 .alert {
		display: none;
	}
	.s-lg-rss-links,
	.s-lg-rss-date {
		display: none;
	}
	
	.s-lg-rss-list,
	#s-lg-col-1 ul {
		margin-bottom: 0;
	}


#s-lg-public-skiplink {left: -3000px;}
hide crap on landing page 
#s-lg-index-list-header {display:none;}*/
/* home page */
#s-lg-hp-nav-bottom, #s-lg-index-guidetype-btn, #s-lg-index-owner-btn {display:none;}
/*.nav-pills li.active a, .nav-pills li.active a:hover {background:#fff;}
#form-group-s-lg-guide-order {display:none !important;}
.s-lib-box-std .s-lib-box-title {background-image:none;}
#s-lib-public-main #col1 {padding-left:0;}
#s-lib-public-main #col1 .pad-top-sm {background:#FFF9E6; border-bottom:2px solid #FFCE00;  margin-bottom: 10px; padding:8px 4px;}
#s-lib-public-main #col1 .pad-top-sm, #s-lib-public-main #col1 .s-lib-public-side-header {background:#FFF9E6; font-weight:normal; }
#s-lib-public-main #col1 .s-lib-public-side-header {border-top:2px solid #FFCE00;  border-bottom:2px solid #FFCE00; font-size:24px; text-transform:uppercase; color:#8a0028; padding-top:8px;}
#s-lib-public-main #col1 .s-lib-public-side-header, #s-lib-public-main #col1 .pad-top-sm {padding-left:8px !important;}
#s-lib-public-main #col1 .pad-bottom-sm {padding:5px 5px 7px 5px;}

#s-lg-guide-list-controls h4 {display:none;} 
.s-lg-guide-info-views {display:none;}
#s-lib-public-header-title {position:absolute; left:-100000px;}*/
/*  subject links on categories list */
.panel-body .alert-info {background:#EFEFEF; color: #8A0028; border:1px solid #d3d3d3;}
/* Subject view */
#s-lib-panel-container-collapse24864, #s-lib-panel-container-collapse24865 {display:none;}
#collapse31315 .alert,  #s-lib-panel-container-collapse24865 .alert, #s-lib-panel-container-collapse24863 .alert, #s-lib-panel-container-collapse24862 .alert, #s-lib-panel-container-collapse43857 .alert , #collapse144652 .alert, #s-lib-panel-container-collapse144652 .alert{display:none;}
.panel-heading .badge {display:none;}

/* tabs on category pages */
#col1 ul.nav-tabs li {background:#efefef; border-top:1px solid #aaa; border-left:1px solid #aaa; border-right:1px solid #aaa; margin-right:.2em !important; border-radius:4px 4px 0 0;}
#col1 ul.nav-tabs li {margin:0;}
#col1 ul.nav-tabs li a:hover {background:#FFCE00 !important; margin-right:0;}
#col1 ul.nav-tabs li.active a, #col1 ul.nav-tabs li.active a:hover {background:#Fde373 !important; margin:0 !important;}

.panel-body .alert strong {font-weight:normal;}
#s-lib-bc-list {margin-top:0 !important; }
#s-lib-bc-list  li {padding:4px;}
#s-lib-bc-list li a:hover {text-decoration:none;}
/* A-to-Z */
.s-lg-az-result, .s-lg-az-trial {border-bottom:none;}
.s-lg-az-result-share {display:none;}
#s-lib-scroll-top {display:none !important;}
#s-lg-az-experts-div {display:none !important;}
.s-lg-gtitle .s-lib-popover {display:none;}

 .s-lib-profile-div {margin-bottom:0;}



/*  #s-lg-guide-main img {max-width:100%; height:auto; width:auto;}.s-lg-book-cover img {width:initial !important;} */  #s-lib-panel-container-collapse43857, #s-lib-panel-container-collapse56290, #s-lib-panel-container-collapse75509, #s-lib-panel-container-collapse31315 {display:none;}
.s-lg-guide-list + .alert {display:none;}
.s-lg-guide-list .btn-link {display:none !important;}
 /*  subject links on home page categories list */
 .panel-body .alert-info {background:#EFEFEF; color: #8A0028; border:1px solid #d3d3d3;}
 /* hide sorting on home page */
 #form-group-s-lg-guide-order {display:none !important;}
/* header */


/* nav */
.s-lg-tabs-container {padding:0;}
#content .side-nav {border:}
#scc-side-nav-label {
 background: #8a0028;
 color:#fff;
 padding:1.5rem;
 border-bottom:1px solid #c8cbce;
 margin-bottom: 0;
}
#s-lg-guide-tabs ul {border: 1px solid #c8cbce; border-top:none;}
#s-lg-guide-tabs li a {border-top:1px solid #c8cbce !important; font-weight: 400 !important;}
#s-lg-guide-tabs li a:hover, #s-lg-guide-tabs li a:focus {background: #404040 !important;color: #ffce00 !important;}
#s-lg-guide-tabs li a.active {font-weight: bold !important;}

.empty {height:0px;}

.row {margin-left:0;}

 #hours-widget abbr[title] {border-bottom:none; cursor: default;}
 
 #links-pref {margin-top:-36px;}
 #links-pref label {font-weight:normal; padding-left:6px;}
 img.s-lg-icon {border:none;}
#s-lib-bc .breadcrumb {font-size:14px; font-weight: 400; text-decoration: underline;}
#s-lg-guide-tabs-title-bar {border:none;}
#s-lg-guide-description {font-size:24px; font-size:2.6rem; }
#s-lg-guide-main a:link, .breadcrumb a, #s-lib-public-main a:link {color:#8a0028 !important; text-decoration: underline;}

.s-lib-box-content a:visited, .s-lg-guide-list a:visited, .s-lg-system-list a:visited {color:#640170;}
#s-lg-guide-main a:focus, #s-lg-guide-main a:hover, .breadcrumb a:focus, .breadcrumb a:hover, #s-lib-public-main a:focus, #s-lib-public-main a:hover {color:#4d4d4d;}
h1, h3, h4 { font-weight:normal !important; color: #8a0028;}
#s-lg-guide-name {font-size:40px;}
h2 { border-bottom: 1px solid #c8cbce; font-weight: 400;}
/* names */
.s-lg-guide-info-account a {font-weight:normal !important;}
td {vertical-align: top;}
/* hide box title in full row spans 
.col-md-12 .s-lib-box-title {display:none;}    */
/* fix left-hand padding */
.col-md-3, .col-md-9, .col-md-12 {padding-left:0;}
.s-lg-col-boxes h2 {color:#4d4d4d;}
.s-lib-box-title { font-size:30px !important; font-weight:400 !important; padding-left:0 !important;  border-bottom:1px solid #e4e4e4 !important;}
.s-lib-box {color:#4d4d4d; border:none; box-shadow:none;}
.s-lib-box-content {padding-left:0;}
.s-lib-box-content h3 {margin-top:10px;}
.s-lib-box-content img {border:1px solid #ccc; padding:2px; margin:2px; border-radius:2px;}
/* link boxes */
.s-lg-link-list {line-height:1.4;}
.s-lg-link-list, .s-lg-system-list {margin-bottom:0;}
.s-lib-box-content {padding-bottom:0;}
.s-lib-box-content th, .s-lib-box-content td {border:1px solid #ccc;}
.s-lg-guide-info-account {display:none;}
/* left-hand widgets */
/* #s-lg-col-1 .s-lg-col-boxes .s-lib-box-container {background:#FFF9E6; border-bottom:2px solid #FFCE00; border-top:2px solid #FFCE00; margin-bottom: 10px;
}
#s-lg-col-1 .s-lg-col-boxes .s-lib-box-content, #s-lg-col-1 .s-lg-col-boxes .s-lib-box-title {background:#FFF9E6; }
#s-lg-col-1 .s-lg-col-boxes .s-lib-box-title {  border-bottom:2px solid #FFCE00; font-size:24px;} */
/*#s-lg-col-1 .s-lib-box-container, #col1 .s-lib-box-container {background:#FFF9E6; border-bottom:2px solid #FFCE00; border-top:2px solid #FFCE00; margin-bottom: 10px;
}
#s-lg-col-1 .s-lib-box-content, #s-lg-col-1 .s-lib-box-title, #col1 .s-lib-box-content, #col1 .s-lib-box-title {background:#FFF9E6; }
#col1 .s-lib-box-title { border-bottom:2px solid #FFCE00; font-size:24px;} 
#s-lg-col-1 .s-lib-box-title, #s-lg-col-1 .s-lib-box-content, #col1 .s-lib-box-title, #col1 .s-lib-box-content {padding-left:8px !important;}*/
#hours-widget ul {list-style-type:none; padding-left:2px;}
#hours-widget strong a {font-weight:normal;}
/* next and previous buttons */
.pager li a, .pager li span {background: #FFCE00; color: #8A0028; border:none; border-radius:4px;}
.pager li a:hover, .pager li a:focus {background: #FDE373;color:#4D4D4D;}
 /* ebook list */.resdesc img {float:left !important;}
.s-lg-rss-list-item {clear:both;}
/* widgets */
.s-lg-widget ul {padding-left:20px;}
/* libraryh3lp widget */
.libchat_btn_img, #chat-loader {border:0 !important;}
 /* hide ISBNs on books */
 .s-lg-book-prop-isbn {display:none;}
 
 .no-border {border:none;}
.cite-hanging {padding-left:4em; text-indent:-4em;}

.hamburger-icon {border-bottom: 2px solid #ffce00;border-top: 6px double #ffce00;display: inline-block;height: 10px;margin-right: 8px;position: relative;width: 16px;}
/*#page-guide-nav-header {cursor:pointer; font-size:1.2em; margin-left:1em;}*/
.s-lib-jqtabs > .nav-tabs { border:none; border-bottom:1px solid #ccc;}
.s-lib-jqtabs > .nav-tabs > li {background:#efefef; border-top:1px solid #aaa !important; border-left:1px solid #aaa !important; border-right:1px solid #aaa !important; margin-right:.2em !important; border-radius:4px 4px 0 0; margin:0;}
.s-lib-jqtabs > .nav-tabs > li > a  {background:transparent !important; text-decoration: none !important;}
.s-lib-jqtabs > .nav-tabs > li:hover {background:#FFCE00 !important; margin-right:0;}
.s-lib-jqtabs > .nav-tabs > .active {background:#Fde373 !important; margin:0 !important;}

.highlight {background:#FFFF00;}


.profile-box .s-lib-box {border:none;}
.s-lib-profile-email {display: none;}
.s-lg-link-list {clear:both;}
.s-lg-link-list-5 li {float:left; max-width:260px; min-height:200px; padding-right:1em;}
#s-lg-book-prop-callno, #s-lg-book-prop-pubdate, .s-lg-book-prop-callno, .s-lg-book-prop-pubdate {clear:none;}
.annotation {margin-left:2em;}
@media (min-width:768px) {
 .scc-libchat {position:fixed; bottom:8px; right:8px;}
	#nav-container {
	width:100%;
	padding: 0;
}



.navbar {
	padding: 0; margin:0;
}

.navbar-nav {
	float: none;
    height:100%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.navbar-nav>li {
	display: inline-block;
	float: none;
}

.navbar-brand {
	position: absolute;
	left: 8px;
	top: 8px;
padding:0;
}
.nav-item {
	max-width:10em; height:100%;
white-space: nowrap;
transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-right:1px solid #ccc;
		
  }
  .nav-item:first-of-type {
    border-left:1px solid #ccc;
  }
	.nav-item:hover {background: #e5e5e5;}
.nav-link {
position:relative;
	font-size: 1em;
    font-weight:400;
		top:26px;
}
	#navbarNav {
	height: 90px !important;
margin-top:-6px;

}
	
}
@media screen and (min-width:992px){
ul.nav li.dropdown:hover ul.dropdown-menu, ul.nav li.dropdown:focus ul.dropdown-menu { display:block;}
}
@media screen and (max-width:992px) {
.lib-menuitem {width:100%; border-top: 1px solid #fff;}
#s-scc-guide-tabs .dropdown-menu.collapse {width:100%; max-width:initial; position:static;}
#s-lg-guide-name { width:auto; float:none;}
#s-lg-guide-tabs {padding:0;}
.s-lib-jqtabs > .nav-tabs > li {width:100%; border-radius: 1px solid #aaa;}
.ui-tabs-anchor {width:100%;}
.currently-selected {background:#4d4d4d; }
.currently-selected a {color:#fff !important;}
#links-pref {display:inline-block; margin: 1em 0 2em; float:none !important;}
}
/*@media screen and (max-width: 700px) {

#scc-logo {display:none;}
#mobile-logo {display:block; background:#8a0028; width:100%; ;}
#bannerimage-banner {width:100%;}
#header-outreachlinksbackground {display:none;}
#rguides-title {float:none;}
#rguides-title a {font-size:2rem; display:block; margin:60px 0 0 0; width:100%; border-radius:0;}
	}*/
	@media print {
 #header, #s-lg-tabs-container, iframe, #s-lib-bc, .s-lib-profile-container, .s-lg-rss, #s-lg-page-prevnext, #s-lib-footer-public, .noprint {display:none;}
}


