
body {font-family: Helvetica, Arial, sans-serif; font-size:100%;
max-width:800px;}
p {margin:0 0 10px 0; padding:0;}
h1, h2 {
text-transform: uppercase;
font-weight: 100;}
h1 {color: #8A0028;}
h2 {  color:  #4d4d4d;font-size: 1.6em;margin: 1em 0 .5em 0;}

a:link, .ga-but {color: #8A0028; font-weight:bold; text-decoration: underline; background: transparent;}
a:visited {color: #640170;}
a:hover, a:focus, .ga-but:hover, .ga-but:focus {color: #616a9c;text-decoration: none; background: transparent;}
a:active {color: #8A0028;}

#input-container {max-width:500px;}
label {position: absolute;left:-99999px;}
#keywords {width:70%; font-size:1em; padding: .4em 1em;}
#essentials  {padding-left:1em;}
#essentials li {list-style-type: none; margin-bottom:10px;}
#essentials a { display: inline-block; padding: 12px 12px 8px 12px; margin: 4px 2%; background: #FFCE00; font-size: 1.3em; border-radius: 4px; text-transform: none; font-family: "functionpro_book", "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif; font-weight: normal; text-decoration: none; color: #8A0028; text-decoration:none;}
#essentials a:link {color: #8A0028;}
#essentials a:hover, #essentials a:focus {	color: #4d4d4d;	background: #FDE373;	text-decoration: none;
}
#essentials a:active, #essentials a:active {	color: #8A0028;}
#compass {position:relative; top:4px;}
.img-link {display:inline-block;}
.two-col {width:100%; position:relative; display:inline-block;}
.col1 {float:left;}
.col2 {float:right;}
.col1, .col2 {width:48%;}
#alt-hours-display {display:none;}
.libchat_btn_img {max-height:80px;}

#textbook-display ul {padding-left:0;}
#textbook-display li, .textbook-bk  {display:inline-block; white-space: nowrap; margin-right:10px; list-style-type:none; position:relative; }
li.no-cover, div.no-cover {vertical-align: top; border: 1px solid #ccc; border-radius: 0 6px 6px 0; height:170px; max-width:180px; background:#ddd; margin-bottom:4px;}
a.no-cover {width: 116px; display:block; white-space: normal; margin: 10px 0 0 10px; height: 100%; text-decoration:none;}
#textbook-display img {max-height:170px; color:#fff;}
.ebook-badge {position:absolute; z-index:300; top:40%; width:100%; text-decoration:none; font-weight:normal; color:#4d4d4d;
background:rgba(255,255,255,0.8); text-align:center;}
.no-cover .ebook-badge {margin-left: -10px;}
footer {font-size:80%; margin:1em 0; padding-top:1em; border-top: 1px solid #ccc; clear:both;}
.ga-but {border:none; padding:0; }

#instructor-banner {background: #efefef; font-size:120%; border: 4px solid #ccc; border-radius: 4px; padding: 8px; }
#hide-instructor-banner { font-size:90%;}

/* from jQuery ui minified */
.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{min-height:0}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default !important}  .ui-autocomplete{position:absolute;top:0;left:0;cursor:default}.ui-button{display:inline-block;position:relative;padding:0;line-height:normal;margin-right:.1em;cursor:pointer;vertical-align:middle;text-align:center;overflow:visible}.ui-button,.ui-button:link,.ui-button:visited,.ui-button:hover,.ui-button:active{text-decoration:none}.ui-button-icon-only{width:2.2em}button.ui-button-icon-only{width:2.4em}.ui-button-icons-only{width:3.4em}button.ui-button-icons-only{width:3.7em}.ui-button .ui-button-text{display:block;line-height:normal}.ui-button-text-only .ui-button-text{padding:.4em 1em}.ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px}.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em}.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em}.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em}input.ui-button{padding:.4em 1em}.ui-button-icon-only .ui-icon,.ui-button-text-icon-primary .ui-icon,.ui-button-text-icon-secondary .ui-icon,.ui-button-text-icons .ui-icon,.ui-button-icons-only .ui-icon{position:absolute;top:50%;margin-top:-8px}.ui-button-icon-only .ui-icon{left:50%;margin-left:-8px}.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary,.ui-button-icons-only .ui-button-icon-primary{left:.5em}.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary{right:.5em}.ui-buttonset{margin-right:7px}.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em}input.ui-button::-moz-focus-inner,button.ui-button::-moz-focus-inner{border:0;padding:0}   .ui-menu{list-style:none;padding:2px;margin:0;display:block;outline:0}.ui-menu .ui-menu{margin-top:-3px;position:absolute}.ui-menu .ui-menu-item{margin:0;padding:0;width:100%;list-style-image:url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)}.ui-menu .ui-menu-divider{margin:5px -2px 5px -2px;height:0;font-size:0;line-height:0;border-width:1px 0 0 0}.ui-menu .ui-menu-item a{text-decoration:none;display:block;padding:2px .4em;line-height:1.5;min-height:0;font-weight:normal}.ui-menu .ui-menu-item a.ui-state-focus,.ui-menu .ui-menu-item a.ui-state-active{font-weight:normal;margin:-1px}.ui-menu .ui-state-disabled{font-weight:normal;margin:.4em 0 .2em;line-height:1.5}.ui-menu .ui-state-disabled a{cursor:default}.ui-menu-icons{position:relative}.ui-menu-icons .ui-menu-item a{position:relative;padding-left:2em}.ui-menu .ui-icon{position:absolute;top:.2em;left:.2em}.ui-menu .ui-menu-icon{position:static;float:right}  .ui-tooltip{padding:8px;position:absolute;z-index:9999;max-width:300px;-webkit-box-shadow:0 0 5px #aaa;box-shadow:0 0 5px #aaa}body .ui-tooltip{border-width:2px}.ui-widget{font-family:"functionpro_book",Arial,sans-serif;font-size:1.1em}.ui-widget .ui-widget{font-size:1em}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:"functionpro_book",Arial,sans-serif;font-size:1em}.ui-widget-content{border:1px solid #aaa;background:#fff;color:#222}.ui-widget-content a{color:#222}.ui-widget-header{border:1px solid #aaa;background:#8a0028;color:#fff;font-weight:bold}.ui-widget-header a{color:#fff}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #d3d3d3;background:#efefef;font-weight:bold;color:#8a0028}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#8a0028;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #999;background:#ffce00;font-weight:bold;color:#4d4d4d}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited{color:#212121;text-decoration:none}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #aaa;background:#fde373;font-weight:bold;color:#4d4d4d}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#4d4d4d;text-decoration:none}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #fcefa1;background:#fbf9ee url(//www.scc.losrios.edu/library/wp-content/plugins/custom-google-search/style/popup_themes/scc/images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;color:#363636}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#fef1ec url(//www.scc.losrios.edu/library/wp-content/plugins/custom-google-search/style/popup_themes/scc/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;color:#cd0a0a}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#cd0a0a}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#cd0a0a}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}

.ui-autocomplete {padding-left:1em;}
input { border: 1px solid #ccc; border-radius: 3px; }
/* Buttons from SCC css */

.menu-toggle,input[type="submit"],input[type="button"],input[type="reset"],article.post-password-required input[type=submit],.bypostauthor cite span {	padding: 6px 10px;	padding: 0.428571429rem 0.714285714rem;	background-color: #e6e6e6;	background-repeat: repeat-x;	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);	border: 1px solid #d2d2d2;	border-radius: 3px;	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);}
.menu-toggle,button,input[type="submit"],input[type="button"],input[type="reset"] {	cursor: pointer;}
.menu-toggle:hover,.menu-toggle:focus,button:hover,input[type="submit"]:hover,input[type="button"]:hover,input[type="reset"]:hover,article.post-password-required input[type=submit]:hover {	color: #5e5e5e;	background-color: #ebebeb;	background-repeat: repeat-x;	background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);	background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);	background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);	background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);	background-image: linear-gradient(top, #f9f9f9, #ebebeb);}
.menu-toggle:active,.menu-toggle.toggled-on,button:active,input[type="submit"]:active,input[type="button"]:active,input[type="reset"]:active {	background-color: #e1e1e1;	background-repeat: repeat-x;	background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);	background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);	background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);	background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);	background-image: linear-gradient(top, #ebebeb, #e1e1e1);	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;	border-color: transparent;}
@media screen and (max-width:320px){
    h1,h2 {position:absolute; left: -99999px; }
    body {font-size:74%;}
    .col2 {margin-top:10px;}
    img {height:40%; width:40%}
    #essentials a {padding:6px; margin-top:0; margin-bottom: 2px;}
    #chat-area img {height:30%;}
    
}